h1 {
background-color: rgb(247, 156, 135);
}
body {
    font-family: Arial, sans-serif;
}
#listPage.print {
    background-color: #f4dc05;
    padding: 20px;
    font-family: cursive;
}
#listPage.print ul {
    margin: 10px 0px;
    padding: 0px;
    border-left: 14px double red;
}
#listPage.print li {
    list-style-type:none;
    margin: 0px -20px;
    padding-left: 26px;
    border-bottom: 1px solid blue;
    line-height: 36px;
    font-size: 24px;
    font-family: cursive;
}
#printable {
    background-color: rgb(17, 255, 0);
}
#addIt {
    background-color: rgb(254, 18, 226);
}
#iWant {
background-color: rgb(185, 131, 237);
}